/*	cm-demo-quickstats-widget.css
	cmdqs = "Case Management Demo Quick Stats"

	WARNING WARNING WARNING WARNING
		-> There can be only one widget/page,
		-> It's ID is hard coded
				- See cm-demo-quickstats-widget.xhtml
				- "cm_demo_quickstats" as of "today"
		-> We use this id for css priority
*/
.cmdqs_main_class {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	color: black;
}

.cmdqs_fonts {
	font-family: 'Lucida Grande', Arial, Helvetica, Geneva, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

.cmdqs_main_title {
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-color: grey;/* same as cmdqs_main_class */
	border-width: 1px;
	
	font-size: 15px;
	font-weight: bold;
}

#cm_demo_quickstats .summary_stats {
	border-color: white;
	height: 15px;
	padding: 0px;
	background-color: white;
}

#cm_demo_quickstats .summary_subdiv {
	height: 15px;
	float: left;
}

.no_claims {
	text-align: center;
	height: 35px;
	line-height: 35px;
}

#cm_demo_quickstats .cmdqs_one_result_container {
	background-color: #ececec;
	border-color: white;
}

#cm_demo_quickstats .cmdqs_total_container {
	background: #fff;
	color:#626262;
	text-transform:uppercase;
	border-color: white;
}

#cm_demo_quickstats .cmdqs_main_result {
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 125%;

	background: #fff;
	color:#626262;
	text-transform:uppercase;
}

#cm_demo_quickstats .cmdqs_one_bar {
	padding: 5px 0px;
	height: 20px;	
	line-height: 20px;
}

#cm_demo_quickstats .cmdqs_one_result_label {
	float: left;
	text-align: center;
	padding-left: 5px;
}

#cm_demo_quickstats .cmdqs_total {
	height: 25px;
	line-height: 25px;
	color:#626262;
}

.cmdqs_pastDue,
.cmdqs_done,
.cmdqs_onSchedule {
	font-weight: bold;
}

.cmdqs_pastDue {
	background-color: #ff7474;
	color: black;
}

.cmdqs_done {
	background-color: #4ebdf0;
	color: #00354e;
}

.cmdqs_onSchedule {
	background-color: #a2f04e;
	color: #2a5100;
}


/* --EOF-- */